@font-face {
  font-family: 'pf_beausans_probbook_italic';
  src: url('../fonts/pfbeausanspro-bbookitalic-webfont.woff2') format('woff2'),
  url('../fonts/pfbeausanspro-bbookitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pf_beausans';
  src: url('../fonts/pfbeausanspro-black-webfont.woff2') format('woff2'),
  url('../fonts/pfbeausanspro-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'pf_beausans';
  src: url('../fonts/pfbeausanspro-bold-webfont.woff2') format('woff2'),
  url('../fonts/pfbeausanspro-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'pf_beausans';
  src: url('../fonts/pfbeausanspro-light-webfont.woff2') format('woff2'),
  url('../fonts/pfbeausanspro-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'pf_beausans';
  src: url('../fonts/pfbeausanspro-regular-webfont.woff2') format('woff2'),
  url('../fonts/pfbeausanspro-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'pf_beausans';
  src: url('../fonts/pfbeausanspro-semibold-webfont.woff2') format('woff2'),
  url('../fonts/pfbeausanspro-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}