.header {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    width: 100%;
    height: 1515px;
    background: radial-gradient(757.50px at 50% 50%, rgba(40, 156, 243, 0.5) 0%, rgba(196, 196, 196, 0) 100%);
    content: '';
    left: 50%;
    top: -1115px;
    transform: translateX(-50%);
  }


}

.header__wrap {
  position: relative;
  z-index: 1;
  display: flex;
}

.header__logo {
  flex-basis: 262px;
}